<h1><%= @exam.name %></h1>
<h3>Question <%= @question.number %></h3>
<%= form_for [@exam, @question] do |f| %>
  <%= f.label :points %>
  <%= f.number_field :points, class: 'form-control' %>

  <br>

  <%= f.label :text %>
  <%= f.text_area:text, class: 'form-control' %>

  <br>

  <% if @question.number > 1 %>
    <%= link_to "Previous", previous_question_path(@exam, @question), class: 'btn btn-primary' %>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %> <%= link_to "Back to exams", exam_path(@exam), class: 'btn btn-primary' %>
<% end %>
