<div class="col-md-6">
    <h1>{{model.name}}</h1>
    <ul class="list-group">
        {{#link-to "exams.show.new" class="list-group-item"}}
        <em>New question</em>
        {{/link-to}}
        {{#each model.questions as |question|}}
            {{#link-to "exams.show.question" question class="list-group-item"}}
                {{question.number}}.&nbsp;&nbsp;
                <em>({{question.points}} {{pluralize-points question.points}})</em> &nbsp;
                {{question.text}}
            {{/link-to}}
        {{/each}}
    </ul>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-block">Render Exam</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-block">Render Answer Key</button>
        </div>
    </div>
</div>
{{outlet}}
