<h1>{{model.name}}</h1>
<ul class="list-group">
    {{#each model.questions as |question|}}
    <li class="list-group-item">
        {{question.number}}.&nbsp;&nbsp;
        <em>({{question.points}} {{pluralize-points question.points}})</em> &nbsp;
        {{question.text}}
    </li>
    {{/each}}
</ul>
<hr>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary btn-block">Render Exam</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary btn-block">Render Answer Key</button>
    </div>
</div>
