<h1>{{model.name}}</h1>
<ul class="list-group">
    {{#each model.questions as |question|}}
    <li class="list-group-item">
        {{question.number}}.&nbsp;&nbsp;
        <em>({{question.points}} {{pluralize-points question.points}})</em> &nbsp;
        {{question.text}}
    </li>
    {{/each}}
</ul>
