<h1>New User</h1>
<%= form_for @user do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <br>

  <%= f.submit "Register", class: 'btn btn-primary' %>
  <hr>
  Already registered?  <%= link_to 'Login', login_path %>
<% end %>
