<form {{action "createQuestion" on="submit"}}>
    <div class="form-group">
        <label for="{{concat elementId '-points'}}">Points</label>
        {{input id=(concat elementId '-points') type="number" name="points" value=question.points placeholder="5" class="form-control"}}
    </div>
    <div class="form-group">
        <label for="{{concat elementId '-text'}}">Text</label>
        {{textarea id=(concat elementId '-text') name="text" value=question.text placeholder="What is the capital of Assyria?" rows="12"  class="form-control"}}
    </div>
    <div class="form-group">
        <label for="{{concat elementId '-answer'}}">Answer</label>
        {{textarea id=(concat elementId '-answer') name="answer"
        value=question.answer placeholder="I don't know that!"class="form-control"}}
    </div>
    <button class="btn btn-success btn-block">
        {{#if newQuestion}}
        Add Question
        {{else}}
        Update Question
        {{/if}}
    </button>

    {{#unless newQuestion}}
        <button class="btn btn-primary btn-block" {{action "moveUp" on="click"}}>
            <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <button class="btn btn-primary btn-block" {{action "moveDown" on="click"}}>
            <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
    <button class="btn btn-danger btn-block" {{action "deleteQuestion" on="click"}}>Delete Question</button>
    {{/unless}}
</form>
