<!DOCTYPE html>
<html>
<head>
  <title><%= @exam.name %></title>

  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <%= wicked_pdf_javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1><%= @exam.name %></h1>
    <ol>
    <% @exam.questions.each do |q| %>
      <li>(<%= pluralize(q.points, 'point')%>) <%= parse(q.text) %></li>
      <% if @render_answers and not q.answer.nil? %>
        <p style="color: red !important"><%= parse(q.answer) %></p>
      <% end %>
    <% end %>
    </ol>
  </div>
</body>
</html>
