<h1>
  <%= @exam.name %>
</h1>
This is the exam.
<% if @exam.questions.count == 0 %>
  <p>No questions here :)</p>
<% else %>
  <ol>
    <% @exam.questions.each do |q| %>
    <li>(<%= pluralize(q.points, 'point') %>) <%= q.text %></li>
    <% end %>
  </ol>
<% end %>
<hr>
  <%= link_to "Delete exam",
              exam_path(@exam),
              data: { confirm: "Are you sure you want to delete this exam?" },
              method: :delete, class: 'btn btn-danger' %><br>
<%= link_to "Back to exams", exams_path %>

