<!DOCTYPE html>
<html>
<head>
  <title>Examinatr</title>
  <%= stylesheet_link_tag    'application', media: 'all'%><!--, 'data-turbolinks-track' => true %>-->
  <%= javascript_include_tag 'application' %><!--, 'data-turbolinks-track' => true %>-->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% flash.each do |type, message| %>
          <div class="alert alert-<%= type %>"><%= message %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
